.dict-actions {
    display: flex;
    padding-bottom: 20px;
    justify-content: space-between;
    height: 40px;
    .search-field {
        width: 25em;
        label {
            color: #fafafa;
            &:not(.Mui-focused) {
                margin-top: -7px;
                font-size: 13px;
            }
        }
        input {
            color: white;
        }
        .MuiOutlinedInput-root {
            height: 100%;
        }
        .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
            border-color: #fafafa;
        }
        fieldset {
            border-color: #fafafa;
        }
    }
    button {
        border-color: #fafafa;
        color: #fafafa;
        .MuiButton-label {
            font-size: 12px;
        }
    }
}

.dict-grid {
    .dict-row {
        .MuiPaper-rounded {
            padding: 20px;
            display: flex;
            justify-content: space-between;
            cursor: pointer;
            margin-bottom: 20px;
            .title span {
                position: relative;
                bottom: 6px;
                left: 10px;
            }
            &:hover {
                color: #4671b8;
                border-left: 5px solid #6ad4f7;
                & .delete {
                    color: #c75a4c;
                    display: block;
                }
            }
            .delete {
                display: none;
            }
        }
        a {
            text-decoration: none;
        }
        .label {
            font-size: 11px;
            border: 1px solid #ccc;
            padding: 2px 10px;
            color: #666;
            text-transform: uppercase;
            margin-right: 10px;
        }
    }
}

.modal {
    .form-container {
        width: 100%;
        .MuiFormControl-root {
            display: flex;
            justify-content: center;
            width: 100%;
            margin-bottom: 20px;
        }
    }
}
