.pairs-header {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    .source {
        margin-right: 14.5em;
    }
}

.pairs {
    .pair {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
        input {
            width: 22em;
            padding: 10px 15px;
            margin: 0 5px;
            font-size: 13px;
            background-color: transparent;
            border-bottom: 1px solid #ccc;
            border-top: none;
            color: white;
            border-left: none;
            border-right: none;
        }
        .arrow {
            margin-top: 8px;
        }
    }
}

.add {
    background: transparent;
    color: #ccc;
    margin-top: 15px;
}
